<div id="background_sign">

  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h2>Sign up</h2>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { multipart: true }) do |f| %>
          <%= f.error_notification %>
          <%= f.input :first_name, autofocus: true %>
          <%= f.input :last_name %>
          <%= f.input :email, required: true %>
          <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @validatable) %>
          <%= f.input :password_confirmation, required: true %>
          <%= f.input :picture, as: :file, label: "Add a profile picture" %>
          <%= f.button :submit, "Sign up", class: "btn btn-primary" %>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
