<div class="bg-wood">
  <br>
<div class="container">
  <div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
<h1>Edit <%= @flat.title %></h1>

<%= simple_form_for(@flat, url: users_flat_path(@flat), html: { multipart: true }) do |f| %>
  <%= f.error_notification %>

  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :address_numberstreet %>
  <%= f.input :address_zip %>
  <%= f.input :address_city %>
  <%= f.input :night_price, label: "price per night in euro" %>
  <%= f.input :capacity, label: "persons" %>
  <%= f.input :picture, as: :file, label: "Add a picture of your place" %>
  <%= f.button :submit %>
<% end %>
  </div>
  <div class="col-xs-2"></div>
</div>
</div>
</div>
