<div class="bg-wood">
  <br>
<div class="text-center">
<h1><%= "Your travels" %></h1>
</div>
<br>
<br>
<br>
<div class="container bg-darker-grey">
  <br>
    <% @bookings.each do |booking| %>
      <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
          <div class="row white-card">
            <div class="col-xs-12 col-md-6 text-center">
              <%= image_tag booking.flat.picture.url(:medium), class: "img-round" %>
            </div>
            <div class="col-xs-12 col-md-6 text-center">
              <h4><%= booking.flat.title %></h4>
              <p><%= booking.flat.address_numberstreet %></p>
              <p><%= booking.flat.address_city %></p>
              <p>Check in: <%= booking.check_in.strftime('%B %-d %Y') %></p>
              <p>Check out: <%= booking.check_out.strftime('%B %-d %Y') %></p>
              <p>Guests: <%= booking.guests %></p>
              <p>Price: <strong><%= (booking.flat.night_price * (booking.check_out - booking.check_in).to_i) %> &euro;</p></strong>
              <div class="row grey-card-150">
                <div class="col-xs-12">
                  <p><%= "Owner: #{booking.flat.user.first_name} #{booking.flat.user.last_name}" %></p>
                  <%= image_tag booking.flat.user.picture.url(:thumb), class: "img-small-round" %>
                  <%= booking.flat.user.email %>
                </div>
              </div>
            </div>
            <div class="col-xs-12 text-center">
              <div class="text-center">
                <h4>Booking status:</h4>
              </div>
              <% if booking.status == "Pending" %>
                <h4 class="text-muted"><strong><%= "Pending..." %></strong></h4>
                <br>
                <%= link_to "Cancel booking request",  booking_cancel_user_path(booking), class: "text-danger"%>
              <% elsif booking.status == "Cancelled" %>
                <h4 class="text-danger"><strong><%= "Cancelled by you" %></strong></h4>
              <% elsif booking.status == "Rejected" %>
                <h4 class="text-danger"><strong><%= "Rejected by owner" %></strong></h4>
              <% elsif booking.status == "Confirmed" %>
                <h4 class="text-success"><strong><%= "Confirmed by owner" %></strong></h4>
                <br>
                <%= link_to "Cancel booking request",  booking_cancel_user_path(booking), class: "btn btn-danger"%>
              <% end %>
            </div>
            </div>
          </div>
          <div class="col-xs-2"></div>
        </div>
        <% end %>
        <br>
      </div>
<br>
<br>
<br>
<br>
</div>
