<div class="text-center">
<h1><%= "#{current_user.first_name}'s travels" %></h1>
</div>
<br>
<br>
<br>
<div class="container bg-darker-grey">
  <br>
    <% @bookings.each do |booking| %>
      <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
          <div class="row white-card">
            <div class="col-xs-12 col-md-6 text-center">
              <%= image_tag booking.flat.picture.url(:medium), class: "img-round" %>
            </div>
            <div class="col-xs-12 col-md-6 text-center">
              <h4><%= booking.flat.title %></h4>
              <p><%= booking.flat.address_numberstreet %></p>
              <p><%= booking.flat.address_city %></p>
              <p>Check in: <%= booking.check_in %></p>
              <p>Check out: <%= booking.check_out %></p>
              <p>Guests: <%= booking.guests %></p>
              <p>Price: <%= (booking.flat.night_price * (booking.check_out - booking.check_in).to_i) %> &euro;</p>
            </div>
            <div class="col-xs-12 text-center">
              <div class="text-center">
                <br>
                <br>
                <h4>Booking status</h4>
              </div>
              <br>
              <% if booking.status == "Pending" %>
                <h4 class="text-muted"><strong><%= "Pending..." %></strong></h4>
                <br>
                <%= link_to "Cancel booking request",  booking_cancel_user_path(booking), class: "text-danger"%>
              <% elsif booking.status == "Cancelled" %>
                <h4 class="text-danger"><strong><%= "Cancelled by you" %></strong></h4>
              <% elsif booking.status == "Rejected" %>
                <h4 class="text-danger"><strong><%= "Rejected by owner" %></strong></h4>
              <% elsif booking.status == "Confirmed" %>
                <h4 class="text-success"><strong><%= "Confirmed by owner" %></strong></h4>
                <br>
                <%= link_to "Cancel booking request",  booking_cancel_user_path(booking), class: "text-danger"%>
              <% end %>
            </div>
            </div>
          </div>
          <div class="col-xs-2"></div>
        </div>
        <% end %>
        <br>
      </div>
<br>
<br>
<br>
<br>
