<div class="container">
  <div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
<h1>Book <%= @flat.title %></h1>


<%= simple_form_for(@booking, url: flat_bookings_path) do |f| %>
  <%= f.error_notification %>

  <%= f.input :guests, label: "Number of guests" %>
  <%= f.input :check_in %>
  <input data-provide="datepicker">
  <%= f.input :check_out %>
  <input data-provide="datepicker">
  <%= f.input :message %>
  <p><%= f.button :submit %></p>
<% end %>
  </div>
  <div class="col-xs-2"></div>
</div>
</div>
