<div class="bg-wood">
  <br>
<div class="container">
  <div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
<h1>Book <%= @flat.title %></h1>


<%= simple_form_for(@booking, url: flat_bookings_path) do |f| %>
  <%= f.error_notification %>
  <% guests_choice = [] %>
  <%(1..@flat.capacity).each {|number| guests_choice << number} %>
  <%= f.input :guests, :label => "Number of guests", :collection => guests_choice %>
  <%= f.input :check_in, as: :string, :input_html => { :data => {:provide => :datepicker, 'date-format': "dd/mm/yyyy", 'date-start-date': Date.today.strftime('%d-%m-%Y'), 'date-autoclose': true} } %>
  <%= f.input :check_out, as: :string, :input_html => { :data => {:provide => :datepicker, 'date-format': "dd/mm/yyyy", 'date-start-date': Date.today.strftime('%d-%m-%Y'), 'date-autoclose': true} } %>
  <%= f.input :message, label: "Leave a message for #{@flat.user.first_name} #{@flat.user.last_name}" %>
  <p><%= f.button :submit %></p>
<% end %>
  </div>
  <div class="col-xs-2"></div>
</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>
