<div class="container">
  <div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
<h1>Book <%= @flat.title %></h1>


<%= simple_form_for(@booking, url: flat_bookings_path) do |f| %>
  <%= f.error_notification %>

  <%= f.input :guests, label: "Number of guests" %>
  <%= f.input :check_in, as: :string, :input_html => { :data => {:provide => :datepicker, 'date-format': "dd/mm/yyyy"} } %>
  <%= f.input :check_out, as: :string, :input_html => { :data => {:provide => :datepicker, 'date-format': "dd/mm/yyyy"} } %>
  <%= f.input :message %>
  <p><%= f.button :submit %></p>
<% end %>
  </div>
  <div class="col-xs-2"></div>
</div>
</div>


<!--
Date.strptime('06-30-2015', '%m-%d-%Y')

'06/30/2015' -->
