<p>Hi <%= @flat.user.first_name %>,</p>
<br>
<p><%= @user.first_name %> <%= @user.last_name %> has cancelled the booking request for <%= @flat.title %> for the period <%= @booking.check_in %> to <%= @booking.check_out %>. Status has been updated on the website.</p>
<br>
<p>Thank you !</p>
<br>
<p>Cheers,</p>
<br>
<p>PepereBnB team</p>
