<p>Hi <%= @user.first_name %>,</p>
<br>
<p>Your booking request for <%= @flat.title %> from <%= @booking.check_in %> to <%= @booking.check_out %> has been rejected by the owner.</p>
<p>You can find many other options for your stay in <%= @flat.address_city %> from <%= @booking.check_in %> to <%= @booking.check_out %> on PepereBnB.</p>
<br>
<p>Cheers,</p>
<br>
<p>PepereBnB team</p>
