<p>Hi <%= @flat.user.first_name %>,</p>
<br>
<p>You have rejected <%= @user.first_name %> <%= @user.last_name %>'s booking request for <%= @flat.title %> for the period <%= @booking.check_in %> to <%= @booking.check_out %>. We have noticed <%= @user.first_name %> and status has been updated on the website.</p>
<br>
<p>Thank you, hope to see you soon on PepereBnB</p>
<br>
<p>Cheers,</p>
<br>
<p>PepereBnB team</p>
